<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.hotelmanagementsystem.mapper.HotelMapper">

    <update id="updateById" parameterType="org.example.hotelmanagementsystem.entity.Hotel">
        UPDATE hotels
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="starLevel != null">
                star_level = #{starLevel},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>